<p><a href='/users'>All Users</a></p>

<ul>
<% @users.each do |user| %>
    <li><a href='/users/<%= user.id %>'><%= user.full_name %></a></li>
<% end %>
</ul>


<p><a href='/deeds'>All Deeds</a></p>

<ul>
<% @deeds.each do |deed| %>
    <li><a href='/deeds/<%= deed.id %>''><%= deed.name %> </a></li>
<% end %>
</ul>


<p><a href='/hotels'>All Hotels</a></p>

<ul>
<% @hotels.each do |hotel| %>
    <li><a href='/hotels/<%= hotel.id %>''><%= hotel.name %></a></li>
<% end %>
</ul>





<p><small>Sinatra, Ruby, erb, sass</small></p>